$bg: #333;
$fg: #06c17f;
$border-width: .3rem;
$corner-size: 3rem;
$dur: .3s;

.corner-button {
	letter-spacing: .02vh;
	cursor: pointer;
	background: transparent;
	border: $border-width solid currentColor;
	padding: 1vh 1.5vh;
	font-size: 1vh;
	color: $fg;
	position: relative;
	transition: color $dur;

	&:hover {
		color: orangered;

		&::before {
			width: 0;
		}

		&::after {
			height: 0;
		}
	}

	&:active {
		border-width: $border-width / 2;
	}
	//bit lame about the extra span.
	//it's to get the text to appear on top of the psewudo elements. is there a dom-less way to do it?
	span {
		position: relative;
		z-index: 2;
	}

	&::before, &::after {
		content: '';
		position: absolute;
		background: $bg;
		z-index: 1;
		transition: all $dur;
	}
	//the 101% is because of a pixel rounding issue in firefox
	&::before {
		width: calc(100% - #{$corner-size});
		height: calc(101% + #{$border-width * 2});
		top: -$border-width;
		left: 50%;
		transform: translateX(-50%);
	}

	&::after {
		height: calc(100% - #{$corner-size});
		width: calc(101% + #{$border-width * 2});
		left: -$border-width;
		top: 50%;
		transform: translateY(-50%);
	}
}