/* GLOBAL STYLES */
body {
  background: #333;
  text-align: center;
  font-family: Consolas, monospace; }

main {
  display: inline-block; }

.landingSection {
  height: 100vh;
  position: relative;
  width: 100vw;
  align-content: center; }
